/*@viewport {
  width: extend-to-zoom ;
  zoom: 1.0 ;
}
@-ms-viewport {
  width: extend-to-zoom ;
  zoom: 1.0 ;
}
/*<meta name="viewport" content="width=device-width, initial-scale=1">*/
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width">
/*body {
    margin: 40px auto; /* https://user-images.githubusercontent.com/41770833/81117512-d8702e00-8f44-11ea-9f0a-c016a3882d1a.jpg  50, 70 top width*/
    /*width: 75%;  /* right width*/
    /*background-image: url('https://user-images.githubusercontent.com/41770833/81117512-d8702e00-8f44-11ea-9f0a-c016a3882d1a.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center top;*/
               
/*}*/

nav ul, footer ul {
    font-family:'Verdana', 'Geneva', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: 500;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 80px;
    color: #331917
}
a {
    text-decoration: none;
    color: #333232;
}
a:hover {
    text-decoration: underline;
}
a1 {
    text-decoration: none;
    color: #20B2AA;
}
a1:hover {
    text-decoration: underline;
}
l {
    text-decoration: none;
    color: #34B0DA;
}
l:hover {
    text-decoration: underline;
}
h1 {
    font-size: 3.2em;
    font-family: 'Helvetica', 'Arial', 'Sans-Serif';
    color : #525252
}
div1 {
  
  opacity: 0.7;
}
/*'Helvetica', 'Arial', 'Sans-Serif'    'Helvetica', 'Arial', 'Sans-Serif'    "Palatino Linotype", "Book Antiqua", 'Palatino', 'serif'*/
h2 {
    font-size: 1.4em;
    font-family:'Verdana', 'Geneva', 'Sans-Serif';
    color: #4a0101
     
}
p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: #333;
    img style="border:5px solid black"
}
p1 {
    font-size: 1.5em;
    line-height: 1.2em;
    color: #333;
}
p2 {
    font-size: 1.5em;
    line-height: 1.4em;
    color: #34B0DA;
}
p3 {
    font-size: 1.3em;
    line-height: 1.2em;
    color: #333;
}


k1 {
    font-size: 3em;
    font-family:'Gill Sans', 'Arial', 'Sans-Serif';
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}



/*img style="border:5px white".column {
  float: left;
}

.left {
  width: 60%;
}
column {
  float: right;
}

.right {
  width: 40%;
}

/* Clear floats after the columns */
/*.row:after {
  content: "";
  display: table;
  clear: both;
}*/

